certifi==2025.7.14
charset-normalizer==3.4.2
idna==3.10
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.2.1
keyring==25.6.0
lasio==0.31
more-itertools==10.7.0
numpy==2.3.1
pandas==2.3.1
psutil==7.0.0
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6_sip==13.10.2
pyqtgraph==0.13.7
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32-ctypes==0.2.3
requests==2.32.4
six==1.17.0
tzdata==2025.2
urllib3==2.5.0
openpyxl==3.1.5